/* Rectangle 273 */

position: absolute;
width: 700px;
height: 1000px;

background: linear-gradient(180deg, rgba(219, 219, 219, 0.5) 0%, rgba(245, 245, 245, 0.783332) 25.53%, rgba(247, 247, 247, 0.8) 66.86%, rgba(183, 183, 183, 0.4) 100%);


/* Ellipse 1 */

position: absolute;
width: 24.33px;
height: 26.27px;

background: #FFFFFF;


/* Ellipse 2 */

position: absolute;
width: 24.33px;
height: 26.27px;

background: #FFFFFF;


/* Ellipse 3 */

position: absolute;
width: 24.33px;
height: 26.27px;

background: #FFFFFF;


/* Ellipse 4 */

position: absolute;
width: 24.33px;
height: 26.27px;

background: #FFFFFF;


/* Ellipse 5 */

position: absolute;
width: 24.33px;
height: 26.27px;

background: #FFFFFF;


/* Ellipse 6 */

position: absolute;
width: 24.33px;
height: 26.27px;

background: #FFFFFF;


/* Ellipse 7 */

position: absolute;
width: 24.33px;
height: 26.27px;

background: #FFFFFF;


/* Ellipse 8 */

position: absolute;
width: 24.33px;
height: 26.27px;

background: #FFFFFF;


/* Ellipse 9 */

position: absolute;
width: 24.33px;
height: 26.27px;

background: #FFFFFF;


/* Ellipse 10 */

position: absolute;
width: 24.33px;
height: 26.27px;

background: #FFFFFF;


/* Ellipse 11 */

position: absolute;
width: 24.33px;
height: 26.27px;

background: #FFFFFF;


/* Ellipse 12 */

position: absolute;
width: 24.33px;
height: 26.27px;

background: #FFFFFF;


/* Ellipse 13 */

position: absolute;
width: 24.33px;
height: 26.27px;

background: #FFFFFF;


/* Ellipse 14 */

position: absolute;
width: 24.33px;
height: 26.27px;

background: #FFFFFF;


/* Ellipse 15 */

position: absolute;
width: 24.33px;
height: 26.27px;

background: #FFFFFF;


/* Ellipse 16 */

position: absolute;
width: 24.33px;
height: 26.27px;

background: #FFFFFF;


/* Ellipse 17 */

position: absolute;
width: 24.33px;
height: 26.27px;

background: #FFFFFF;


/* Line 15 */

position: absolute;
width: 626.2px;
height: 0px;

border: 5px dashed #797979;
transform: matrix(1, 0.01, 0, 1, 0, 0);


/* Line 16 */

position: absolute;
width: 626.2px;
height: 0px;

border: 5px dashed #959595;
transform: matrix(1, 0.01, 0, 1, 0, 0);


/* Line 17 */

position: absolute;
width: 626.2px;
height: 0px;

border: 3px dashed #797979;
transform: matrix(1, 0.01, 0, 1, 0, 0);


/* Line 18 */

position: absolute;
width: 626.2px;
height: 0px;

border: 3px dashed #797979;
transform: matrix(1, 0.01, 0, 1, 0, 0);


/* Line 19 */

position: absolute;
width: 626.2px;
height: 0px;

border: 3px dashed #797979;
transform: matrix(1, 0.01, 0, 1, 0, 0);


/* Group */

position: absolute;
width: 574.28px;
height: 120.84px;



/* RECEIPT */

position: absolute;
width: 456px;
height: 102px;

font-family: 'DNF Bit Bit v2';
font-style: normal;
font-weight: 400;
font-size: 70px;
line-height: 102px;
/* identical to box height */
text-align: center;
letter-spacing: 0.1em;

color: #828282;



/* 주문서 #253 */

position: absolute;
width: 207.65px;
height: 36px;

font-family: 'BM JUA_TTF';
font-style: normal;
font-weight: 400;
font-size: 35px;
line-height: 36px;
/* identical to box height */
display: flex;
align-items: center;
text-align: center;

color: #494949;



/* TOTAL */

position: absolute;
width: 147px;
height: 52px;

font-family: 'BM JUA_TTF';
font-style: normal;
font-weight: 400;
font-size: 50px;
line-height: 52px;
/* identical to box height */
display: flex;
align-items: center;
text-align: center;

color: #949494;



/* 2024-06-12 */

position: absolute;
width: 227.11px;
height: 36px;

font-family: 'BM JUA_TTF';
font-style: normal;
font-weight: 400;
font-size: 35px;
line-height: 36px;
/* identical to box height */
display: flex;
align-items: center;
text-align: right;

color: #949494;



/* Group 173 */

position: absolute;
width: 229.55px;
height: 41px;



/* Group 172 */

position: absolute;
width: 259.56px;
height: 41px;



/* Group 171 */

position: absolute;
width: 262.8px;
height: 41px;



/* Group 170 */

position: absolute;
width: 231.17px;
height: 41px;



/* 1 */

position: absolute;
width: 13.79px;
height: 35.9px;

font-family: 'BM JUA_TTF';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 31px;
text-align: right;

color: #747474;



/* 1 */

position: absolute;
width: 13.79px;
height: 35.9px;

font-family: 'BM JUA_TTF';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 31px;
text-align: right;

color: #747474;



/* 2 */

position: absolute;
width: 19.47px;
height: 35.9px;

font-family: 'BM JUA_TTF';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 31px;
text-align: right;

color: #747474;



/* 3 */

position: absolute;
width: 17.84px;
height: 35.9px;

font-family: 'BM JUA_TTF';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 31px;
text-align: right;

color: #747474;



/* 잔 */

position: absolute;
width: 27.58px;
height: 35.9px;

font-family: 'BM JUA_TTF';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 31px;

color: #747474;



/* 잔 */

position: absolute;
width: 27.58px;
height: 35.9px;

font-family: 'BM JUA_TTF';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 31px;

color: #747474;



/* 잔 */

position: absolute;
width: 27.58px;
height: 35.9px;

font-family: 'BM JUA_TTF';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 31px;

color: #747474;



/* 개 */

position: absolute;
width: 27.58px;
height: 35.9px;

font-family: 'BM JUA_TTF';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 31px;

color: #747474;



/* 4,800 */

position: absolute;
width: 88.41px;
height: 31px;

font-family: 'BM JUA_TTF';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 31px;
/* identical to box height */
text-align: right;

color: #4E4E4E;



/* 4,500 */

position: absolute;
width: 88.41px;
height: 31px;

font-family: 'BM JUA_TTF';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 31px;
/* identical to box height */
text-align: right;

color: #4E4E4E;



/* 10,400 */

position: absolute;
width: 103.01px;
height: 31px;

font-family: 'BM JUA_TTF';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 31px;
/* identical to box height */
text-align: right;

color: #4E4E4E;



/* 7,500 */

position: absolute;
width: 87.6px;
height: 31px;

font-family: 'BM JUA_TTF';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 31px;
/* identical to box height */
text-align: right;

color: #4E4E4E;



/* 27,200원 */

position: absolute;
width: 165px;
height: 41px;

font-family: 'BM JUA_TTF';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 41px;
text-align: right;

color: #4E4E4E;



/* Rectangle 275 */

position: absolute;
width: 777px;
height: 48px;

background: #363636;
border-radius: 10px;
